@using Relaks.Models

@if (!string.IsNullOrEmpty(Group.Title))
{
    <h6 class="mb-3">
        <i class="las la-border-all la-lg me-1"></i>
        @Group.Title
    </h6>
}
<table class="table table-bordered mb-4">
    <tbody>
    @foreach (var item in Group.Items)
    {
        if (string.IsNullOrEmpty(item.Value))
        {
            continue;
        }
        
        <tr>
            @if (!string.IsNullOrEmpty(item.Key))
            {
                <td colspan="50%">
                    @item.Key
                </td>
            }
            <td colspan="@(string.IsNullOrEmpty(item.Key) ? "100%" : "50%")">
                @item.Key
                @item.Value
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public DatasetGroup Group { get; set; } = null!;
}