@page "/timeline"
@using Relaks.Database
@using Relaks.Database.Repositories
@using Relaks.Utils.Extensions
@using TimelineItem = Relaks.Database.Repositories.TimelineItem

@inject AppDbContext Db;
@inject NavigationManager NavigationManager;

<PageTemplate>
    <MyTitle>События</MyTitle>

    <CascadingValue Value="@this">
        <div class="row">
            <div class="col-auto">
                <div style="position: sticky; top: 100px;">
                    @if (PreviewEntryId.HasValue)
                    {
                        <EntryCard EntryId="@PreviewEntryId.Value"/>
                    }
                    else
                    {
                        <div style="width: 20rem;">
                            <ul class="ul-info">
                                <li>Одиночный клик по строке откроет предпросмотр</li>
                                <li>Двойной клик по строке откроет объединение</li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <div class="col">
                <_TimelineNavigation/>
                @if (!Items.Any())
                {
                    <p class="text-muted">
                        <i class="las la-frown la-lg"></i> @Resources.Action.NotFoundResults
                    </p>
                }
                else
                {
                    <div class="timeline">
                        @foreach (var item in Items)
                        {
                            <_TimelineItem
                                Item="@item"
                                OnSingleClick="@(entryId => PreviewEntryId = entryId)"
                                OnDoubleClick="@OnDoubleClick"/>
                        }
                    </div>
                }
                <_TimelineNavigation/>
            </div>
            <div class="col-auto" style="max-width: 25rem">
                <div style="position: sticky; top: 100px;">
                    <_TimelineFilter/>
                </div>
            </div>
        </div>
    </CascadingValue>

</PageTemplate>

@code {
    public IReadOnlyList<TimelineItem> Items { get; set; } = new List<TimelineItem>();
    public TimelineRequest Req { get; set; } = new();
    public DateTime Date { get; set; } = DateTime.Now;
    private Guid? PreviewEntryId { get; set; }

    protected override void OnInitialized()
    {
        FindItems();
    }

    public void FindItems()
    {
        Req.StartDay = Date.StartTimeOfMonth();
        Req.EndDay = Date.EndTimeOfMonth();
        Items = Db.FindTimeline(Req);
        StateHasChanged();
    }

    private void OnDoubleClick(Guid? baseEntryId)
    {
        if (baseEntryId.HasValue)
        {
            NavigationManager.NavigateTo($"/entries/{baseEntryId.Value}/info");
        }
    }

}