@using Relaks.Models

<div class="row align-items-start mb-3 gx-3" data-id="@Item.Id">
    @if (ItemsCount > 1)
    {
        <div class="col-auto">
            <button type="button" class="btn btn-circle btn-sm btn-outline-secondary js-sortable-handle">
                <i class="las la-random la-lg"></i>
            </button>
        </div>   
    }
    <div class="col">
        <MyTextarea placeholder="Ключ"
                    @bind-Value="@Item.Key"
                    maxlength="255"
                    />

        <ValidationMessage For="@(() => Item.Key)"/>
    </div>
    <div class="col">
        <MyTextarea placeholder="Значение"
                    @bind-Value="@Item.Value"
                    maxlength="1000"
                    />
        <ValidationMessage For="@(() => Item.Value)"/>
    </div>
    @if (ItemsCount > 1)
    {
        <div class="col-auto">
            <button type="button" class="btn btn-circle btn-sm btn-outline-danger" @onclick="@(() => OnDelete.InvokeAsync(Item))">
                <i class="las la-times la-lg"></i>
            </button>
        </div>   
    }
</div>
@code {
    [Parameter]
    public DatasetItem Item { get; set; } = null!;

    [Parameter]
    public int ItemsCount { get; set; }
    
    [Parameter]
    public EventCallback<DatasetItem> OnDelete { get; set; }
}