@using Relaks.Models

@inject IJSRuntime JsRuntime;

<button
    type="button"
    class="list-group-item list-group-item-action 
@(EiDataset.IsFavorite ? "text-warning fw-medium" : "")
@(EiDataset.Id.Equals(EntryInfoId) ? "border-dashed border-2 border-warning" : "")
"
    @onclick="@(() => JsRuntime.InvokeVoidAsync("ScrollToId", $"dataset-{EiDataset.Id}", -64))"
    href="@($"/entries/{EiDataset.EntryId}/info#")">
    @EiDataset.Title
</button>

@code {
    [Parameter]
    public EiDataset EiDataset { get; set; } = null!;
    
    [Parameter]
    public Guid? EntryInfoId { get; set; }
}