@using Relaks.Models

@* <Dump Data="@Entry"/> *@

<div class="mb-3 input-lg">
    <label for="" class="form-label form-label-lg">@Resources.Entity.ResourceManager.GetString(string.Format(Entry.Discriminator+"_Name")) *</label>
    <input type="text" class="form-control form-control-lg" @bind="@Entry.Name"/>
    <ValidationMessage For="@(() => Entry.Name)"/>
</div>

<div class="mb-3">
    <InputImageCrop Label="Миниатюра" @bind-Value="@Entry.Thumbnail"/>
</div>

<div class="mb-3">
    <label for="" class="form-label">@Resources.Field.ShortDescription</label>
    <MyTextarea
        maxlength="300"
        @bind-Value="@Entry.Description"/>
    <ValidationMessage For="@(() => Entry.Description)"/>
</div>

<div class="mb-3">
    <SelectProfession/>
</div>

<div class="row">
    <div class="col">
        <div class="mb-3">
            <label for="" class="form-label">@Resources.Entity.ResourceManager.GetString(string.Format(Entry.Discriminator+"_StartAt"))</label>
            <InputDate Type="@(Entry.StartAtWithTime ? InputDateType.DateTimeLocal : InputDateType.Date)"
                       @bind-Value="@Entry.StartAt"
                       class="form-control"/>
            <ValidationMessage For="@(() => Entry.StartAt)"/>
        </div>
        <div class="mb-3">
            <div class="form-check form-switch">
                <InputCheckbox class="form-check-input" type="checkbox" @bind-Value="@Entry.StartAtWithTime" id="entry-StartAtWithTime"/>
                <label class="form-check-label" for="entry-StartAtWithTime">@Resources.Action.Date_WithTime</label>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="" class="form-label">@Resources.Entity.ResourceManager.GetString(string.Format(Entry.Discriminator+"_EndAt"))</label>
            <InputDate Type="@(Entry.EndAtWithTime ? InputDateType.DateTimeLocal : InputDateType.Date)"
                       @bind-Value="@Entry.EndAt"
                       class="form-control"/>
            <ValidationMessage For="@(() => Entry.EndAt)"/>
        </div>
        <div class="mb-3">
            <div class="form-check form-switch">
                <InputCheckbox class="form-check-input" type="checkbox" @bind-Value="@Entry.EndAtWithTime" id="entry-EndAtWithTime"/>
                <label class="form-check-label" for="entry-EndAtWithTime">@Resources.Action.Date_WithTime</label>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public BaseEntry Entry { get; set; } = null!;

    private bool IsMeet() => nameof(EMeet).Equals(Entry.Discriminator);

}