@page "/entries"

@inject NavigationManager NavigationManager;

<PageTemplate>
    <MyTitle>
        <ChildContent>@Resources.Entity.BaseEntries</ChildContent>
        <EndTitle>
            <a href="/entries/new" class="btn btn-primary">
                <i class="las la-plus-circle la-lg me-1"></i>
                @Resources.Action.Add @Resources.Entity.BaseEntry.ToLower()
            </a>
        </EndTitle>
    </MyTitle>

    <div class="row">
        <div class="col-auto">
            <div style="position: sticky; top: 100px;">
                @if (PreviewEntryId.HasValue)
                {
                    <EntryCard EntryId="@PreviewEntryId.Value"/>
                }
                else
                {
                    <div style="width: 20rem;">
                        <ul class="ul-info">
                            <li>Одиночный клик по строке откроет предпросмотр</li>
                            <li>Двойной клик по строке откроет объединение</li>
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="col-9">
            <EntryList OnRowDoubleClicked="@OnRowDoubleClicked" OnRowClicked="@OnRowClicked"/>
        </div>
    </div>
</PageTemplate>

@code {

    private Guid? PreviewEntryId { get; set; }

    private void OnRowDoubleClicked(Guid entryId)
    {
        NavigationManager.NavigateTo($"/entries/{entryId}/info");
    }

    private void OnRowClicked(Guid entryId)
    {
        PreviewEntryId = entryId;
    }

}