@using Relaks.Models
@using Relaks.Database
@inject NavigationManager NavigationManager;
@inject AppDbContext Db;

<PageTemplate>
    <CascadingValue Value="@BaseEntry">
        <SoftDeleteShow SoftDeletedReason="@BaseEntry"/>
        <div class="row gap-4">
            <div class="col-auto">
                <EntryCard EntryId="@EntryId"
                           EntryInfoId="@EntryInfoId"
                           WithEdit="@true"
                           HideSoftDeleted="@true"/>
            </div>
            <div class="col">
                @ChildContent
            </div>
        </div>
    </CascadingValue>
</PageTemplate>

@code {
    [Parameter]
    public Guid EntryId { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
    
    
    private Guid? EntryInfoId { get; set; }
    private BaseEntry BaseEntry { get; set; } = null!;

    protected override void OnParametersSet()
    {
        var query = new Uri(NavigationManager.Uri).Query;
        var dict = System.Web.HttpUtility.ParseQueryString(query);
        var entryInfoId = dict["entryInfoId"];
        EntryInfoId = string.IsNullOrEmpty(entryInfoId) ? null : Guid.Parse(entryInfoId);

        BaseEntry = Db.BaseEntries.First(x => x.Id.Equals(EntryId));
    }
}