@using Relaks.Models.Store
@using Relaks.Models
@using Relaks.Database
@using Relaks.Mappers

@inject AppDbContext Db;

<AppFileSidebarHeader Title="@(Store.State.Equals(AppFileListStore.StateEnum.AddCategory) ? $"{Resources.Action.Add} категорию" : $"{Resources.Action.Edit} категорию")" 
                      WithBackLink="@true"
                      OnBackLink="@GoBack"/>

<EditForm Model="@Model" OnSubmit="@OnSubmit">
    <FluentValidationValidator @ref="Validator" DisableAssemblyScanning="@true"/>
    <ValidationSummary/>
    
    <div class="mb-3">
        <label for="" class="form-label">@Resources.Action.Title *</label>
        <input type="text" @bind-value="@Model.Title" class="form-control">
        <ValidationMessage For="@(() => Model.Title)"/>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">
            <i class="las la-lg me-1 @(Store.State.Equals(AppFileListStore.StateEnum.EditCategory) ? "la-edit" : "la-plus-circle")"></i>
            @(Store.State.Equals(AppFileListStore.StateEnum.EditCategory) ? Resources.Action.SaveChanges : Resources.Action.Add)
        </button>
    </div>
</EditForm>

@code {
    
    [CascadingParameter]
    [Parameter]
    public AppFileListStore Store { get; set; } = null!;

    [Parameter]
    public EventCallback OnStateHasChanged { get; set; }

    private async Task GoBack()
    {
        Store.State = Store.State.Equals(AppFileListStore.StateEnum.AddCategory) 
            ? AppFileListStore.StateEnum.Default 
            : AppFileListStore.StateEnum.EditCategories;
        await OnStateHasChanged.InvokeAsync();
    }

    private FluentValidationValidator Validator { get; set; } = null!;
    
    private BaseFileCategory Model { get; set; } = null!;

    protected override void OnParametersSet()
    {
        if (Store.EntryId.HasValue)
        {
            if (Store.State.Equals(AppFileListStore.StateEnum.AddCategory))
            {
                Model = new EntryFileCategory()
                {
                    EntryId = Store.EntryId.Value
                };
            } else if (Store.EditId.HasValue && Store.State.Equals(AppFileListStore.StateEnum.EditCategory))
            {
                Model = Db.EntryFileCategories.First(x => x.Id.Equals(Store.EditId.Value));
            }
        }
        else
        {
            throw new NotSupportedException("EntryId not found");
        }
    }

    private async Task OnSubmit()
    {
        if (!await Validator.ValidateAsync()) return;
        if (Store.EntryId.HasValue)
        {
            var entryFileCategory = (EntryFileCategory) Model;
            entryFileCategory.MapTo(entryFileCategory);
            
            if (Store.State.Equals(AppFileListStore.StateEnum.AddCategory))
            {
                Db.EntryFileCategories.Add(entryFileCategory);
            }

            await Db.SaveChangesAsync();
            Store.GetCategories();
            await GoBack();
        }
    }

}