@using Relaks.Models
@using Relaks.Database.Repositories

<tr>
    <td>
        <a href="#"></a>
    </td>
    <td>
        @AppFile.BaseFile.DisplayNameWithExtension()
        @if (AppFile.FtsFile != null)
        {
            <div class="fts-result">
                <i class="las la-search la-lg"></i> @((MarkupString) AppFile.FtsFile.Snippet)
            </div>
        }
        @if (AppFile.BaseFile.DeletedAt != null)
        {
            <SoftDeleteShow SoftDeletedReason="@AppFile.BaseFile" Classes="mt-2"/>
        }
    </td>
    <td>@AppFile.BaseFile.CreatedAt.ToString("dd.MM.yy HH:mm")</td>
    <td>@(AppFile.BaseFile.Category?.Title)</td>
    <td>
        @foreach (var tag in AppFile.BaseFile.Tags)
        {
            <a href="#">@tag.Title</a>   
        }
    </td>
</tr>

@code {

    [Parameter]
    public AppFileFindResult AppFile { get; set; } = null!;

}