@page "/entries/{entryId:guid}/files"

@inject NavigationManager NavigationManager;

<EntryProfileLayout EntryId="@EntryId">
    <EntryProfileTabs EntryId="@EntryId"/>
    <MyTitle>Файлы</MyTitle>


    <div class="row align-items-center">
        <div class="col-5">
            <_EntryUploader EntryId="@EntryId" OnUpload="@HandleOnUpload"/>
        </div>
        <div class="col-7">
            <ul class="mb-3 ul-info">
                <li>Выберите или переместите файлы для загрузки</li>
                <li>Двойной клик на загруженный файл откроет его в программе по умолчанию для вашей операционной системы</li>
                <li>У файла может быть одна категория и много меток</li>
                <li>Задайте категорию сразу нескольким файлам для этого кликните на иконки нужных файлов.</li>
                <li>Измените название файла для лучшего поиска</li>
            </ul>
        </div>
    </div>
    <hr>
    <AppFileList
        EntryId="EntryId"
        WithEdit="@true"/>
</EntryProfileLayout>

@code {

    [Parameter]
    public Guid EntryId { get; set; }

    private void HandleOnUpload(List<Guid> fileIds)
    {
        var paramsFileIds = string.Join("&", fileIds.Select(x => "fileIds=" + x));
        NavigationManager.NavigateTo($"/entries/{EntryId}/files?{paramsFileIds}", true);
    }

}