@page "/entries/{entryId:guid}/files"

@inject NavigationManager NavigationManager;

<EntryProfileLayout EntryId="@EntryId">
    <EntryProfileTabs EntryId="@EntryId"/>
    <MyTitle>Файлы</MyTitle>
    

    <div class="row">
        <div class="col-3">
            <_EntryUploader EntryId="@EntryId" OnUpload="@HandleOnUpload"/>
        </div>
        <div class="col-9">
            
        </div>
    </div>
    <hr>
    <AppFileList 
        EntryId="EntryId" 
        WithEdit="@true"
    />
</EntryProfileLayout>

@code {
    [Parameter]
    public Guid EntryId { get; set; }

    private void HandleOnUpload(List<Guid> fileIds)
    {
        var paramsFileIds = string.Join("&", fileIds.Select(x=>"fileIds=" + x));
        NavigationManager.NavigateTo($"{NavigationManager.Uri}?{paramsFileIds}", true);
    }
}