@page "/entries/{entryId:guid}/connections"

@using Relaks.Database
@using Relaks.Models
@using Relaks.Models.Store

@inject AppDbContext Db;

<EntryProfileLayout EntryId="@EntryId">
    <EntryProfileTabs EntryId="@EntryId"/>

    <CascadingValue Value="@Store">
        @switch (Store.State)
        {
            case EntryConnectionStore.StateEnum.List:
                <MyTitle>Связи</MyTitle>
                <div class="row mb-4">
                    <div class="col-auto">
                        <h5 class="mb-0">Взаимоотношения</h5>
                    </div>
                    <div class="col">
                        <button type="button" @onclick="@(() => Store.State = EntryConnectionStore.StateEnum.NewEntryConnection)" class="btn btn-sm btn-primary">
                            <i class="las la-plus-circle"></i>
                            Добавить
                        </button>
                    </div>
                </div>
                
                if (Store.EntryRelations.Any())
                {
                    <div>
                        @{ var odd = true; }
                        @foreach (var entryRelation in Store.EntryRelations)
                        {
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="px-2 py-3 @(odd ? "bg-secondary bg-opacity-5" : "")">
                                        <_EntryRelationItem EntryRelation="@entryRelation"/>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-circle btn-outline-secondary" @onclick="@(() => HandleClickEditEntryRelation(entryRelation))">
                                        <i class="las la-edit la-lg"></i>
                                    </button>
                                </div>
                            </div>
                            odd = !odd;
                        }
                    </div>
                }
                else
                {
                    <p class="text-muted"><i class="las la-info-circle la-lg me-1"></i> Взаимоотношений не найдено.</p>
                }
                
                <br>
                <h5 class="mb-4">Структуры других объединений</h5>
                @if (Store.StructureItems.Any())
                {
                    @foreach (var sItem in Store.StructureItems)
                    {
                        <_StructureRelationItem StructureItem="@sItem"/>
                    }
                }
                else
                {
                    <p class="text-muted"><i class="las la-info-circle la-lg me-1"></i> Связей со структурами не найдено. Для отображения связи, текущее объединение должно быть задействовано хотя бы в одной структуре другого объединения.</p>
                }
                break;
            case EntryConnectionStore.StateEnum.EditEntryConnection:
                <Edit OnStateChanged="@StateHasChanged"/>
                break;
            case EntryConnectionStore.StateEnum.NewEntryConnection:
                <New OnStateChanged="@StateHasChanged"/>
                break;
        }
    </CascadingValue>
</EntryProfileLayout>

@code {

    [Parameter]
    public Guid EntryId { get; set; }

    private EntryConnectionStore Store { get; set; } = null!;

    private void HandleClickEditEntryRelation(EntryRelation entryRelation)
    {
        Store.EntryRelationEdit = entryRelation;
        Store.State = EntryConnectionStore.StateEnum.EditEntryConnection;
    }

    protected override void OnParametersSet()
    {
        Store = new EntryConnectionStore(Db)
        {
            EntryId = EntryId,
        };

        Store.FindEntryRelations();
        Store.FindStructureItems();
        Store.FindStructureGroupTitles();
    }

}