@page "/"
@using Relaks.Database
@using Relaks.Models
@using Relaks.Models.Store

@inject AppDbContext Db;

<PageTemplate>
    <MyTitle>Статистика</MyTitle>
    
    <div class="d-flex flex-column gap-4">
        <div class="row">
            @foreach (var item in Store.EntryCounts)
            {
                <div class="col">
                    <NumberStat Label="@item.Key"
                                Number="@item.Value.ToString()"
                                class="bg-success text-white"/>
                </div>
            }
        </div>
        
        <div class="row">
            @foreach (var item in Store.EInfoCounts)
            {
                <div class="col">
                    <NumberStat Label="@item.Key"
                                Number="@item.Value.ToString()"
                                class="bg-primary-subtle text-secondary-emphasis"/>
                </div>
            }
        </div>
        
        <div class="row">
            @foreach (var item in Store.FileCounts)
            {
                <div class="col">
                    <NumberStat Label="@item.Key"
                                Number="@item.Value.ToString()"
                                class="bg-info-subtle text-secondary-emphasis"/>
                </div>
            }
        </div>
    </div>

    @* <p>bootstrap icons <i class="bi bi-1-square text-red"></i></p> *@
    @* <p>line awesome icons <i class="las la-info text-red"></i></p> *@
    @* <p>font awesome icons <i class="fa fa-solid fa-info"></i></p> *@
    @* <p> *@
    @*     font awesome icons 2 *@
    @*     <i class="fa-solid fa-arrow-down-up-lock" aria-hidden="true"></i> *@
    @* </p> *@

</PageTemplate>

@code{
    public HomepageStatisticStore Store { get; set; } = null!;

    protected override void OnInitialized()
    {
        Store = new HomepageStatisticStore(Db);
        Store.FindData();
    }
}