@page "/test"
@using System.Diagnostics.CodeAnalysis
@using System.Globalization
@using Microsoft.EntityFrameworkCore
@using Relaks.Database

@inject IJSRuntime Js;
@inject AppDbContext Db;

<PageTemplate>
    <MyTitle>Test</MyTitle>

    @IsOpen
    <button type="button" @onclick="@(() => IsOpen = true)">test</button>
    <Drawer Placement="@Placement.Right" IsOpen="@IsOpen" IsBackdrop="@true" AllowResize="true">
        <div class="d-flex justify-content-center align-items-center flex-column" style="height: 290px;">
            <p>The layout, components, etc. in the drawer are fully customizable</p>
            <button type="button" class="btn btn-primary" @onclick="@(() => IsOpen = false)">close the drawer</button>
        </div>
    </Drawer>
    
    @Resources.Entity.BaseEntries
    <p>@_cultureInfo.Name</p>
    @* <FinancialAccountChart AccountIds="@AccountIds"/> *@
    
    
</PageTemplate>

@code {
    private bool IsOpen { get; set; }
    
    private CultureInfo _cultureInfo = Thread.CurrentThread.CurrentCulture;
    private List<Guid> AccountIds { get; set; } = new();

    protected override void OnInitialized()
    {
        CultureInfo.CurrentCulture = new CultureInfo("ru-RU");
        
        AccountIds = Db.BaseFinancialTransactions
            .Select(x => x.AccountId)
            .Distinct()
            .ToList();
    }
    
    
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == false) return Task.CompletedTask;
        return Task.FromResult(Js.InvokeVoidAsync("InitializeChart"));
    }

    // [NotNull]
    // private Chart? LineChart { get; set; }
    //
    // private readonly int LineDataCount = 7;
    //
    // private Random Randomer { get; } = new();
    //
    // private Task<ChartDataSource> OnInit()
    // {
    //     var ds = new ChartDataSource();
    //     ds.Options.XScalesGridColor = "#6c757d";
    //     ds.Options.YScalesGridColor = "#6c757d";
    //     ds.Labels = Enumerable.Range(1, LineDataCount).Select(i => i.ToString());
    //     for (var index = 0; index < 2; index++)
    //     {
    //         ds.Data.Add(new ChartDataset()
    //         {
    //             Label = $"Set {index}",
    //             Data = Enumerable.Range(1, LineDataCount).Select((_, _) => (object) Randomer.Next(20, 37)),
    //         });
    //     }
    //
    //     return Task.FromResult(ds);
    // }
}