@using Relaks.Interfaces
@typeparam TNode where TNode : class, ITree<TNode>;

@if (!FilteredIds.Any() || FilteredIds.Contains(Node.Id))
{
    <div class="tree-list__el @(IsActive() ? "active" : "")">
        <div class="d-flex gap-1">
            <div class="col-auto" style="width: 28px">
                @if (Node.Children.Any() && !FilteredIds.Any())
                {
                    <button type="button" class="btn btn-circle btn-xs btn-outline-secondary tree-list__collapse-btn" @onclick="@(() => IsOpen = !IsOpen)">
                        <i class="las @(IsOpen ? "la-angle-down" : "la-angle-right")"></i>
                    </button>
                }
                else
                {
                    <div class="text-end"><i class="las la-angle-right" style="margin-top: 12px;"></i></div>   
                }
            </div>
            <div class="col">
                <div @onclick="@(() => OnClickNode.InvokeAsync(Node.Id))"
                     class="tree-list__el-title group-show p-2 cursor-pointer @(Node.Id.Equals(NodeId) ? "active" : "")">
                        @* <i class="las la-angle-right me-2"></i> *@
                    @Node.Title
                    @if (AfterNodeTitle != null)
                    {
                        @AfterNodeTitle(Node.Id)
                    }
                </div>

                @if (IsOpen && Node.Children.Any())
                {
                    foreach (var child in Node.Children)
                    {
                        <TreeSelectNode Node="@child" OnClickNode="@OnClickNode" NodeId="@NodeId" FilteredIds="@FilteredIds" AfterNodeTitle="@AfterNodeTitle"/>
                    }
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public TNode Node { get; set; } = null!;
    
    [Parameter]
    public EventCallback<Guid> OnClickNode { get; set; }
    
    [Parameter]
    public Guid? NodeId { get; set; }

    [Parameter]
    public List<Guid> FilteredIds { get; set; } = new();
    
    [Parameter]
    public RenderFragment<Guid>? AfterNodeTitle { get; set; }

    private bool IsOpen { get; set; } = true;
    private bool IsActive() => NodeId.HasValue && NodeId.Value.Equals(Node.Id);
    private bool IsRoot() => !Node.ParentId.HasValue;

    protected override void OnParametersSet()
    {
        if (FilteredIds.Any() && FilteredIds.Contains(Node.Id))
        {
            IsOpen = true;   
        }
    }

}