@using Relaks.Views.Shared.Charts.ViewModels
@using Relaks.Database
@using System.Text.Json

@inject IJSRuntime Js;
@inject AppDbContext Db;

<Dump Data="@Store.Req"/>
<Dump Data="@Store.Calculate()"/>
<CascadingValue Value="@Store">
    @if (!AccountIds.Any())
    {
        <p>Выберите один или несколько счетов для отображения статистики</p>      
    }
    else
    {
        <_Filter OnStateHasChanged="@OnFilterChange"/>
    }
    <div id="@_htmlElementId"></div>
</CascadingValue>

@code {
    [Parameter]
    public List<Guid> AccountIds { get; set; } = new();

    private FinancialAccountStatisticsStore Store { get; set; } = null!;
    
    private readonly string _htmlElementId = Guid.NewGuid().ToString();

    protected override void OnInitialized()
    {
        Store = new(Db, AccountIds);
        Store.Initialize();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return !firstRender ? Task.CompletedTask : InitializeChart();
    }

    private Task OnFilterChange()
    {
        StateHasChanged();
        return InitializeChart();
    }

    private Task InitializeChart()
    {
        var data = Store.Calculate();
        data.HtmlElementId = _htmlElementId;
        var json = JsonSerializer.Serialize(data, new JsonSerializerOptions(JsonSerializerDefaults.Web));
        return Task.FromResult(Js.InvokeVoidAsync("InitializeFinancialChart", json));
    }
}