@using Relaks.Views.Pages.EntryFinancials.ViewModels
@using Relaks.Utils.Extensions

<div class="table-responsive">
    <table class="table mb-3">
        <tbody>
        <tr>
            <th>Валюта</th>
            <td>@Store.AccountStatistic.CurrencyId</td>
        </tr>
        <tr>
            <th>Средний баланс</th>
            <td>@Store.AccountStatistic.AverageBalance.ToString("N2") @Store.AccountStatistic.CurrencySymbol</td>
        </tr>
        <tr>
            <th>Изменения</th>
            <td class="@Store.AccountStatistic.BalanceChanges.ToCssColorClass()">
                @(Store.AccountStatistic.BalanceChanges > 0 ? "+" : "")@Store.AccountStatistic.BalanceChanges.ToString("N2") @Store.AccountStatistic.CurrencySymbol
            </td>    
        </tr>
        <tr>
            <th>Суммы</th>
            <td>
                <span class="text-success">
                    @Store.AccountStatistic.TotalIncome.ToString("N2") @Store.AccountStatistic.CurrencySymbol
                </span>
                <span class="text-muted opacity-50">/</span>
                <span class="text-danger">
                    @Store.AccountStatistic.TotalOutlay.ToString("N2") @Store.AccountStatistic.CurrencySymbol
                </span>
            </td>
        </tr>
        <tr>
            <th>Транзакции (шт.)</th>
            <td>
                <span class="text-success">@Store.AccountStatistic.PlusTransactionsCount</span>
                <span class="text-muted opacity-50">/</span>
                <span class="text-danger">@Store.AccountStatistic.MinusTransactionsCount</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

@code {
    [CascadingParameter]
    public FinancialsStore Store { get; set; } = null!;
}