@using Relaks.Models
@using Relaks.Models.Misc
@using Relaks.Models.Requests.EntryRequests
@using Relaks.Interfaces

<div class="mb-3">
    <label for="" class="form-label">@Resources.Field.ShortDescription (@Resources.Action.NotRequired)</label>
    <input type="text" @bind-value="@EntryInfo.Title" class="form-control">
    <ValidationMessage For="@(() => EntryInfo.Title)"/>
</div>

<div class="mb-3">
    <div class="form-check form-switch">
        <InputCheckbox class="form-check-input" type="checkbox" @bind-Value="@EntryInfo.IsFavorite" id="entry-info-favorite-switch"/>
        <label class="form-check-label" for="entry-info-favorite-switch">@Resources.Action.Favorite</label>
    </div>
</div>

@code {

    [Parameter]
    public IEntryInfo EntryInfo { get; set; } = null!;

    [Parameter]
    public EventCallback<IEntryInfo> EntryInfoChanged { get; set; }

}