@using Relaks.Models

<div class="card mb-4 @(EiDataset.DeletedAt != null ? "border-danger" : "")" id="dataset-@EiDataset.Id">
    <div class="card-header @(EiDataset.IsFavorite ? "bg-info bg-opacity-25" : "bg-secondary bg-opacity-25")">
        <div class="row align-items-center">
            <div class="col">
                <strong class="h5">
                    @EiDataset.Title
                </strong>
            </div>
            <div class="col-auto">
                <a href="@($"/entries/{EiDataset.EntryId}/eidataset/{EiDataset.Id}/edit")" class="btn btn-outline-secondary btn-circle">
                    <i class="las la-edit la-lg"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <SoftDeleteShow SoftDeletedReason="@EiDataset"/>
        
        @foreach (var group in EiDataset.Dataset.Groups)
        {
            if (group.Items.All(x => string.IsNullOrEmpty(x.Value))) continue;
            <DatasetGroupShow Group="@group"/>
        }
    </div>
</div>

@code {
    [Parameter]
    public EiDataset EiDataset { get; set; } = null!;
}