@using Relaks.Models

<div class="card mb-4 @(EiDataset.DeletedAt != null ? "border-danger" : "")" id="dataset-@EiDataset.Id">
    <div class="card-header @(EiDataset.IsFavorite ? "bg-warning" : "bg-secondary") bg-opacity-25">
        <div class="row align-items-center">
            <div class="col">
                <strong class="h5">
                    @EiDataset.Title
                </strong>
            </div>
            <div class="col-auto">
                <a href="@($"/entries/{EiDataset.EntryId}/eidataset/{EiDataset.Id}/edit")" class="btn btn-outline-secondary btn-circle">
                    <i class="las la-edit la-lg"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <SoftDeleteShow SoftDeletedReason="@EiDataset"/>
        
        @foreach (var group in EiDataset.Dataset.Groups)
        {
            @if (!string.IsNullOrEmpty(group.Title))
            {
                <h6 class="mb-3">
                    <i class="las la-border-all la-lg me-1"></i>
                    @group.Title
                </h6>
            }
            <table class="table table-bordered mb-4">
                <tbody>
                @foreach (var item in group.Items)
                {
                    <tr>
                        @if (!string.IsNullOrEmpty(item.Key))
                        {
                            <td colspan="@(string.IsNullOrEmpty(item.Value) ? "100%" : "2")">
                                @item.Key
                            </td>
                        }
                        @if (!string.IsNullOrEmpty(item.Value))
                        {
                            <td colspan="@(string.IsNullOrEmpty(item.Key) ? "100%" : "2")">@item.Key
                                @item.Value
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        }


    </div>
</div>

@code {
    [Parameter]
    public EiDataset EiDataset { get; set; } = null!;
}