@using Relaks.Models
@using Relaks.Models.Misc
@using Relaks.Interfaces

@if (IsWithoutTitle != true)
{
    <div class="mb-3">
        <label for="" class="form-label">@Resources.Field.ShortDescription (@Resources.Action.NotRequired)</label>
        <input type="text" @bind-value="@EntryInfo.Title" class="form-control">
        <ValidationMessage For="@(() => EntryInfo.Title)"/>
    </div>   
}

<div class="mb-3">
    <Checkbox TValue="bool" 
              @bind-Value="@EntryInfo.IsFavorite" 
              ShowAfterLabel="true" 
              DisplayText="@Resources.Action.Favorite" />
</div>

@code {

    [Parameter]
    public IEntryInfo EntryInfo { get; set; } = null!;

    [Parameter]
    public EventCallback<IEntryInfo> EntryInfoChanged { get; set; }
    
    [Parameter]
    public bool? IsWithoutTitle { get; set; }
    
}