@using Relaks.Database
@using Relaks.Models
@using Microsoft.EntityFrameworkCore

<div class="d-flex align-items-center gap-3 mb-3">
    <label for="" class="form-label mb-0">@Label</label>
    <button type="button" class="btn btn-outline-secondary btn-sm" @onclick="@(() => Modal.Show())">
        Выбрать <i class="las la-plus-circle la-lg"></i>
    </button>
</div>
@if (CurrentEntryIds.Any())
{
    <ul class="list-group">
        @foreach (var entryId in CurrentEntryIds)
        {
            <li class="list-group-item">
                <div class="row justify-content-between align-items-center">
                    <div class="col">
                        <EntryInlineItem EntryId="@entryId"/>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-sm btn-circle btn-outline-secondary" @onclick="@(() => OnDelete(entryId))">
                            <i class="las la-times text-danger"></i>
                        </button>
                    </div>
                </div>
            </li>
        }
    </ul>   
}

<Modal @ref="Modal" IsKeyboard="@true" IsBackdrop="@true">
    <ModalDialog Title="Выберите объединение" IsScrolling="true" CloseButtonText="Закрыть" FullScreenSize="FullScreenSize.Always">
        <BodyTemplate>
            <EntryList OnRowClicked="@OnEntrySelect"/>
        </BodyTemplate>
    </ModalDialog>
</Modal>

@code {
    private Modal Modal { get; set; } = new();

    [Parameter]
    public string Label { get; set; } = "Объединения";

    [Parameter]
    public List<Guid> EntryIds { get; set; } = new();
    
    [Parameter]
    public EventCallback<List<Guid>> EntryIdsChanged { get; set; }

    private List<Guid> CurrentEntryIds { get; set; } = new();

    protected override void OnParametersSet()
    {
        CurrentEntryIds = EntryIds;
    }

    private async Task OnEntrySelect(Guid entryId)
    {
        if (!CurrentEntryIds.Contains(entryId))
        {
            CurrentEntryIds.Add(entryId);
            await EntryIdsChanged.InvokeAsync(CurrentEntryIds);
        }

        await Modal.Toggle();
    }

    private async Task OnDelete(Guid entryId)
    {
        if (CurrentEntryIds.Contains(entryId))
        {
            CurrentEntryIds.Remove(entryId);
            await EntryIdsChanged.InvokeAsync(CurrentEntryIds);
        }
    }

}