@page "/entries"

@inject NavigationManager NavigationManager;

<PageTemplate>
    <MyTitle>
        <ChildContent>@Resources.Entity.BaseEntries</ChildContent>
        <EndTitle>
            <a href="/entries/new" class="btn btn-primary">
                <i class="las la-plus-circle la-lg me-1"></i>
                @Resources.Action.Add
            </a>
        </EndTitle>
    </MyTitle>
    
    <div class="row">
        <div class="col-auto">
            @if (EntryIdPreview.HasValue)
            {
                <EntryCard EntryId="@EntryIdPreview.Value" WithEdit="@false"/>   
            }
        </div>
        <div class="col">
            <EntryList OnRowDoubleClicked="@OnRowDoubleClicked" OnRowClicked="@OnRowClicked"></EntryList>
        </div>
    </div>
</PageTemplate>

@code {
    
    private Guid? EntryIdPreview { get; set; }

    private void OnRowDoubleClicked(Guid entryId)
    {
        NavigationManager.NavigateTo($"/entries/{entryId}/info");
    }

    private void OnRowClicked(Guid entryId)
    {
        EntryIdPreview = entryId;
    }
}