@page "/entries/new"

@using Relaks.Models.Requests.EntryRequests
@using Relaks.Database
@using Relaks.Mappers
@using Relaks.Models

<PageTemplate>
    <HalfPage IsCentered="@true">
        <MyTitle>
            <BeforeTitle>
                <a href="/entries" class="btn btn-outline-secondary">
                    <i class="las la-arrow-left la-lg me-1"></i> Вернуться
                </a>
            </BeforeTitle>
            <ChildContent>Новое объединение</ChildContent>
        </MyTitle>

        <EditForm Model="@Req" OnSubmit="@OnSubmit">
            <FluentValidationValidator @ref="Validator" DisableAssemblyScanning="@true"/>
            <ValidationSummary/>
            <FormFields @bind-Req="@Req"/>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">
                    Добавить
                </button>
            </div>
        </EditForm>
    </HalfPage>
</PageTemplate>

@code {

    [Inject]
    public AppDbContext Db { get; set; } = null!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    private EntryFormRequest Req { get; set; } = new();
    private FluentValidationValidator Validator { get; set; } = null!;

    private void OnSubmit()
    {
        if (!Validator.Validate()) return;

        BaseEntry entry = Req.Discriminator switch
        {
            nameof(EPerson) => new EPerson(),
            nameof(ECompany) => new ECompany(),
            nameof(EMeet) => new EMeet(),
            _ => throw new ArgumentException($"Error: discriminator {Req.Discriminator} is not supported")
            };

        Req.MapTo(entry);
        Db.BaseEntries.Add(entry);
        Db.SaveChanges();
        NavigationManager.NavigateTo($"/entries/{entry.Id}/info");
    }

}