@using Relaks.Views.Pages.Financials.ViewModels
@using Relaks.Interfaces

<div class="d-flex align-items-center mb-3 gap-2">
    <div class="col-auto">
        <button type="button"
                class="btn btn-outline-primary btn-sm"
                disabled="@(!Store.AccountId.HasValue)"
                title="@(!Store.AccountId.HasValue ? "Выберите счёт" : "")"
                @onclick="@HandleAddTransaction">
            Транзакция
            <i class="las la-plus-circle la-lg ms-1"></i>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-outline-primary btn-sm" @onclick="@HandleAddCategory">
            Категория транзакции
            <i class="las la-plus-circle la-lg ms-1"></i>
        </button>
    </div>
    <div class="col">
        <span class="h5 ms-3">???</span>
    </div>
</div>

<_TransactionsList OnStateChanged="@(() => OnStateChanged.InvokeAsync())"
                   FinancialAccountId="@Store.AccountId"
                   FirstRow="@(new GuidRowView() {Th = FirstRowTh, Td = FirstRowTd})"
/>

@* @if (!Store.Transactions.Items.Any()) *@
@* { *@
@*     <p>Транзакций не найдено</p>    *@
@* } *@
@* else *@
@* { *@
@*     <div>asd</div>    *@
@* } *@
@* <p>Валюты</p> *@
@* <p>Транзакции</p> *@
@* <p>Категории транзакций</p> *@

@code {

    [CascadingParameter]
    public FinancialsStore Store { get; set; } = null!;

    [Parameter]
    public EventCallback OnStateChanged { get; set; }

    private Task HandleAddCategory()
    {
        Store.BodyState = FinancialsStore.BodyEnum.AddTransactionCategory;
        return OnStateChanged.InvokeAsync();
    }

    private Task HandleAddTransaction()
    {
        Store.BodyState = FinancialsStore.BodyEnum.AddTransaction;
        return OnStateChanged.InvokeAsync();
    }

    private RenderFragment<Guid> FirstRowTd => guid => __builder =>
    {
        <td>
            <button type="button" class="btn btn-circle btn-outline-secondary btn-sm group-show__item" @onclick="@(() => HandleEditTransaction(guid))">
                <i class="las la-edit la-lg"></i>
            </button>
        </td>
    };
    
    private RenderFragment FirstRowTh => __builder =>
    {
        <th style="width: 50px"></th>
    };
    private Task HandleEditTransaction(Guid transactionId)
    {
        
        Store.BodyEditTransactionId = transactionId;
        Store.BodyState = FinancialsStore.BodyEnum.EditTransaction;
        return OnStateChanged.InvokeAsync();
    }
}